<h1>Eventos Cadastrados</h1>

{{#if posts}}
    {{#each posts}}
        <article class="evento-item">
            <h2>{{this.titulo}}</h2>
            <h3>Data: {{this.data_evento}} | Carga Horária: {{this.carga_horaria}}h</h3>
            <p>{{this.descricao}}</p>
            
            <div class="acoes">
                <a href="/evento/editar/{{this.id}}"><button type="button">Editar</button></a>
                <a href="/evento/deletar/{{this.id}}"><button type="button" style="color: red;">Deletar</button></a>
            </div>
        </article>
        <hr>
    {{/each}}
{{else}}
    <p>Nenhum evento encontrado no momento.</p>
{{/if}}

<br>
<a href="/home"><button type="button">Voltar ao Painel</button></a>